# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/.next-verify/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
Thumbs.db
public/hero/hand-device.png
public/hero/ivy-notification.png
public/hero/ivy-hero-src.mp4
public/hero/ivy-herov2.mp4
public/hero/ivy-hero.png
public/hero/Shared context.png
public/vision/*-src.mp4
public/vision/*-src.png
